<header>

</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Banana</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" >About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tickets']" >All tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stickies']" >Stickies</a>
      </li>
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/personnel']" >Personnel</a>
      </li>
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/locations']" >Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!logedIn" (click)="doLogin()">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="logedIn" (click)="doLogout()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
