<div class="container">
  <div *ngIf="allStickies$ | async as allStickies">
    <ng-container *ngIf="roles$ | async as roles">
      <ng-container *ngIf="locations$| async as locations">

        <!-- <label>new location: <input type="text" [value]="username" (keyup.enter)="username = $event.target.value; refreshPersonnel(operating, username)"/></label> -->
        <form (ngSubmit)="onSubmit()" #stickyForm="ngForm">
          <div class="form-group">
            <label for="message">Message</label>
            <input type="text" class="form-control" id="message" required [(ngModel)]="newSticky.message"
              name="message">
          </div>
          <div class="form-group">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Locations</th>
                  <th>Name</th>
                  <th>Parent Location</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let location of newSticky.locations; let i = index;">
                  <td>
                    <button (click)="deleteLocationRow(i)">Remove</button>
                    <i class="fa fa-trash fa-2x"></i>
                  </td>
                  <td>
                    <input [value]="newSticky.locations[i].location" (input)="newSticky.locations[i].location=$event.target.value" type="text" id="location" name="location"/>
                  </td>
                  <td>
                    <select class="form-control" id="parentLocation" required [value]="newSticky.locations[i].parentLocation" (input)="newSticky.locations[i].parentLocation=$event.target.value" name="parentLocation">
                      <option *ngFor="let location of locations | keyvalue " [value]="location.key" > {{location.value.message}} </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="addLocationRow()">Add</a>
                    <i class="fa fa-plus fa-2x"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Actions</th>
                  <th>Name</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dynamic of newSticky.actions; let i = index;">
                  <td>
                    <button (click)="deleteActionRow(i)">Remove</button>
                    <i class="fa fa-trash fa-2x"></i>
                  </td>
                  <td>
                    <input [value]="newSticky.actions[i].action" (input)="newSticky.actions[i].action=$event.target.value" type="text" id="action" name="action"/>
                  </td>
                  <select class="form-control" id="roleId" required [value]="newSticky.actions[i].roleId" (input)="newSticky.actions[i].roleId=$event.target.value" name="roleId">
                    <option *ngFor="let role of roles | keyvalue " [value]="role.key" > {{role.value.role}} </option>
                  </select>
                </tr>
                <tr>
                  <td>
                    <a (click)="addActionRow()">Add</a>
                    <i class="fa fa-plus fa-2x"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <div>
          <table style="width:100%">
            <thead>
              <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Locations</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sticky of allStickies">
                <td>{{sticky.id}}</td>
                <td>{{sticky.message}}</td>
                <td>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Parent Location</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let location of sticky.locations;">
                        <td>{{location.id}}</td>
                        <td>{{location.message}}</td>
                        <td>{{locations.get(location.parentLocation).message}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                   <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>role</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let action of sticky.actions;">
                      <td>{{action.id}}</td>
                      <td>{{action.message}}</td>
                      <td>{{roles.get(action.roleId).role}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
